html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    font-weight: normal;
    overflow-x: hidden;
    background-color: #324b4c;
}

.main-header {
    padding-top: 2rem;
}

.subtext {
    opacity: 50%;
    color: black;
    font-style: italic;
    font-size: large;
    font-weight: 200;
    text-align: center;
    transform: translate(20rem, -0.5rem);
}

#canvas {
    position: absolute;
    z-index: 0;
}

.title {
    white-space: nowrap;
    text-align: center;
    margin: 0;
    font-size: 6em;
    color: white;
}

#card-container {
    margin: 20px;
    margin-top: 0;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
}

.category {
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: white;
    z-index: 1;
    text-align: center;
}

.category:hover {
    transform: scale(1.1);
}

.species {
    margin: 0;
}

img {
    margin-top: 1rem;
    border-radius: 50%;
    border: 5px solid black;
    width: 100px;
    height: 100px;
}

h3 {
    margin: 0;
    padding: 0.5rem;
}

p {
    margin: 0;
    font-style: italic;
}

h2 {
    margin: 0;
}

i {
    color: white;
}

.pre-footer {
    color: white;
    text-align: center;
    opacity: 0.5;
    font-size: 6em;
    font-weight: 200;
    font-style: italic;
    margin-top: 10rem;
}

.footer {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
    z-index: 2;
}

input,
select {
    width: 300px;
    height: 30px;
    font-size: large;
    margin-left: 0.5rem;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-btn {
    background-color: crimson;
}

.reset-btn:hover {
    background-color: darkred;
}

button:hover {
    background-color: #0056b3;
}
